<div class="title-container">
    <h1>{{ edicion ? 'Editar Metodo Pago' : 'Registrar Metodo Pago' }}</h1>
  </div>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="aceptar()">
  
      <!-- Código (solo en edición) -->
      <mat-form-field *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="codigo" readonly />
      </mat-form-field>
      <br />
  
      <!-- Tipo de Método de Pago -->
      <mat-form-field>
        <mat-label>Tipo Metodo Pago</mat-label>
        <input matInput formControlName="tipo_metodo_pago" required />
        <mat-error *ngIf="form.get('tipo_metodo_pago')?.hasError('required')">
          El método de pago es obligatorio.
        </mat-error>
        <mat-error *ngIf="form.get('tipo_metodo_pago')?.hasError('pattern')">
          El método de pago debe ser un número entero.
        </mat-error>
      </mat-form-field>
      <br />
      <br />
  
      <!-- Botón Aceptar -->
      <div class="button-container">
        <button mat-raised-button color="primary" [disabled]="form.invalid">Aceptar</button>
      </div>
    </form>
  </div>
  