<!-- Inicio -->
<div class="container-fluid" style="background-color: #f0f0f0">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="background-color: #ffffff">
          <div class="card-body text-center">
            <h5 class="card-title">
              Orkun Işıtmak
              <mat-icon style="color: #7110b7">verified_user</mat-icon>
            </h5>
            <p class="card-text">
              Teléfono: 955 555 555<br />Correo: influencer3&#64;gmail.com
            </p>
            <div class="social-icons mb-3">
              <i class="fab fa-youtube"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-tiktok"></i>
            </div>
            <a class="btn btn-primary" [routerLink]="['/contrato']"
              >Contratar</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="background-color: #ffffff">
          <div class="card-body text-center">
            <h5 class="card-title">
              Duygu Özaslan
              <mat-icon style="color: #7110b7">verified_user</mat-icon>
            </h5>
            <p class="card-text">
              Teléfono: 955 555 555<br />Correo: influencer3&#64;gmail.com
            </p>
            <div class="social-icons mb-3">
              <i class="fab fa-youtube"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-tiktok"></i>
            </div>
            <a class="btn btn-primary" [routerLink]="['/contrato']"
              >Contratar</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="background-color: #ffffff">
          <div class="card-body text-center">
            <h5 class="card-title">
              Tuvba Özman
              <mat-icon style="color: #7110b7">verified_user</mat-icon>
            </h5>
            <p class="card-text">
              Teléfono: 955 555 555<br />Correo: influencer3&#64;gmail.com
            </p>
            <div class="social-icons mb-3">
              <i class="fab fa-youtube"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-tiktok"></i>
            </div>
            <a class="btn btn-primary" [routerLink]="['/contrato']"
              >Contratar</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button
          class="card custom-button d-flex flex-column align-items-center justify-content-center"
          [routerLink]="['/usuario']"
        >
          <div class="card-body text-center d-flex flex-column align-items-center justify-content-center">
            <img src="assets/arrowbutton.png" width="100" height="100" alt="Arrow Icon" class="custom-icon mb-3" />
            <p class="custom-text">Ver más influencers</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background-color: #ffffff">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 d-flex flex-column align-items-center">
        <img
          src="assets/evaluaciones.png"
          width="150"
          height="120"
          alt="Evaluar"
          class="mb-3 mx-auto"
        />
        <h5>Evalúa</h5>
        <p>
          Evalúa las colaboraciones calificando y dejando comentarios
          personalizados sobre el desempeño de los influencers.
        </p>
        <a class="btn btn-sm btn-primary mt-auto" [routerLink]="['/evaluacion/nuevo']"
          >Ver evaluaciones</a
        >
      </div>
      <div class="col-md-4 d-flex flex-column align-items-center">
        <img
          src="assets/metricas.jpg"
          width="150"
          height="120"
          alt="Rendimiento"
          class="mb-3 mx-auto"
        />
        <h5>Rendimiento</h5>
        <p>
          Visualiza el rendimiento de los influencers en tus colaboraciones con
          métricas personalizadas: likes, alcance, comentarios o compartidos.
        </p>
        <a
          class="btn btn-sm btn-primary mt-auto"
          [routerLink]="['/vermetricas']"
          >Ver métricas</a
        >
      </div>
      <div class="col-md-4 d-flex flex-column align-items-center">
        <img
          src="assets/tips.png"
          width="150"
          height="120"
          alt="Tips"
          class="mb-3 mx-auto"
        />
        <h5>Tips</h5>
        <p>
          Recibe tips exclusivos para maximizar PromoTrust y optimizar cada
          colaboración, ayudando a hacer crecer tu emprendimiento.
        </p>
        <a class="btn btn-sm btn-primary mt-auto" [routerLink]="['/vertips']"
          >Ver tips</a
        >
      </div>
    </div>
  </div>
</div>
