.title-container {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #7110b7; /* Color morado principal */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  margin-bottom: 20px;
}

mat-form-field {
  width: 300px; 
  max-width: 100%; 
}

button {
  background-color: #ea6dfd; 
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d05ae1; 
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

/* Contenedor de la tabla */
.table-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px; 
  overflow-x: auto; 
}

table {
  width: 100%;
  border-spacing: 0; 
  border-collapse: collapse; 
}

.mat-header-cell {
  background-color: #7110b7; /* Morado principal */
  color: white; 
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.mat-cell {
  background-color: #f3e5f5; 
  padding: 10px;
  text-align: center;
}

.mat-row:nth-child(even) .mat-cell {
  background-color: #e1bee7;
}

.mat-row:hover {
  background-color: #d1c4e9; 
  cursor: pointer;
}

/* Responsividad */
@media (max-width: 768px) {
  .form-container {
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center;
  }

  mat-form-field,
  .button-container {
    width: 100%; /* Ancho completo en pantallas pequeñas */
  }

  .table-container {
    width: 100%; /* Ocupa todo el ancho */
  }

  .mat-header-cell,
  .mat-cell {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
  }
}
