.title-container {

  text-align: center;

  margin-bottom: 30px;
  /* Increase the margin-bottom to move the title lower */

  margin-top: 50px;
  /* Add a margin-top to further position it down the page */

}




.small-image {
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




.example-card {
  max-width: 400px;
  margin: auto; /* Centra la tarjeta en el contenedor padre */
}


/* Estilos del Paginador */
.paginator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.title {

  font-family: 'Poppins', sans-serif;

  font-weight: 600;

  font-size: 2em;

  color: #333;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
  width: 100%;
  max-width: 1200px;
}



.card-item {
  display: flex;
  justify-content: center;
}



.mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-card-title {
  text-align: center;
  color: #7110b7;

}





  /* Estilo de los botones */
  button.edit-button, button.delete-button {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease;
    margin: 4%;
  }

  button.edit-button {
    background-color: #7110b7;
    color: #ffffff;
  }

  button.edit-button:hover {
    background-color: #7110b7;
  }

  button.delete-button {
    background-color: #bb5ded;
    color: #ffffff;
  }

  button.delete-button:hover {
    background-color: #bb5ded;
  }


    /* Responsivo */
  @media (max-width: 768px) {
    .mat-table th, .mat-table td {
        font-size: 20px;
    }

    button.edit-button, button.delete-button {
        font-size: 20px;
        padding: 8px 15px;
    }
  }
