/* Contenedor principal */
body {
    background-color: #f0f0f0ea; 
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin: 20px auto;
    width: 80%;
    max-width: 1200px;
    text-align: center;
  }
  
  /* Encabezado de la tabla */
  .header h1 {
    color: #7110b7;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Contenedor de la tabla */
  .table-container {
    overflow-x: auto;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Tabla */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #7110b7 !important; 
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
  }
  
  td {
    font-size: 0.9rem;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  /* Footer Básico */
.footer {
  background-color: #6d1fb4; 
  color: white;
  text-align: center; 
  padding: 20px; 
}

.footer-content p {
  margin: 0; 
  font-size: 0.9rem;
}

.footer-links {
  margin-top: 10px; 
}

.footer-links a {
  color: white;
  margin: 0 10px; 
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links a:hover {
  text-decoration: underline; 
}

/* Estilos generales para pantallas grandes */
@media (min-width: 1024px) {
  .testimonials-container {
    justify-content: space-evenly; 
    gap: 40px; 
  }

  .testimonial {
    max-width: 400px; 
    font-size: 1.1rem; 
  }

  .testimonials h2 {
    font-size: 3rem;
  }
}