<div class="container" style="text-align: center; margin: 5%">
  <div style="margin: 5%"><h1>Actualizar contrato</h1></div>

  <div>
    <!-- Editar Contrato -->
    <form [formGroup]="form" (ngSubmit)="aceptar()">
      <!------------------------>
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="hid" readonly />
      </mat-form-field>
      <br />

      <!-- Detalle contrato -->
      <mat-form-field class="example-full-width">
        <mat-label>Detalle Contrato</mat-label>
        <input matInput formControlName="hdetalle_contrato" />
      </mat-form-field>
      <br />
      <!-- Estado contrato -->
      <mat-form-field class="example-full-width">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="hestado" />
      </mat-form-field>
      <br />

      <div>
        <button mat-button class="custom-button">Actualizar</button>
      </div>
    </form>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <p>COPYRIGHT © 2024 PromoTrust. All rights reserved.</p>
      <div class="footer-links">
        <a href="#about">Conócenos</a>
        <a href="#community">Comunidad</a>
        <a href="#testimonials">Casos de éxito</a>
        <a href="https://instagram.com/promotrust24" target="_blank">
          Contáctanos
        </a>
      </div>
    </div>
  </footer>
</div>
