<div class="container" >
    <div style="text-align: center;margin: 10px;">
 <h1> Registro de Servicios </h1>
    </div>

<h1>
<div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="c1">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let Servicios">{{Servicios.id}}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="c2">
          <th mat-header-cell *matHeaderCellDef>Nombre </th>
          <td mat-cell *matCellDef="let Servicios">{{Servicios.nombre_servicio}}</td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="c3">
          <th mat-header-cell *matHeaderCellDef>Descripcion</th>
          <td mat-cell *matCellDef="let Servicios">{{Servicios.descripcion}}</td>
        </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="c4">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let Servicios">{{Servicios.precio}}</td>
          </ng-container>


                <!-- Weight Column -->
        <ng-container matColumnDef="c5">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let Servicios">{{Servicios.categoria_servic}}</td>
          </ng-container>

                <!-- Weight Column -->
        <ng-container matColumnDef="c6">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let Servicios">{{Servicios.estado_servic}}</td>
          </ng-container>

                <!-- Weight Column -->
        <ng-container matColumnDef="c7">
            <th mat-header-cell *matHeaderCellDef>Contrato</th>
            <td mat-cell *matCellDef="let Servicios">{{Servicios.contrato.detalle_contrato}}</td>
          </ng-container>

          <ng-container matColumnDef="accion01">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let Servicios" (click)="eliminar(Servicios.id)">
              <mat-icon style="color:#3b1d9e">delete</mat-icon>
            </td>
          </ng-container>
    
          <ng-container matColumnDef="accion02">
            <th mat-header-cell *matHeaderCellDef>Actualizar</th>
            <td mat-cell *matCellDef="let Servicios">
              <button mat-raised-button [routerLink]="['ediciones',Servicios.id]">
                <mat-icon style="color:#3b1d9e">edit</mat-icon>
              </button>
            </td>
          </ng-container>
             
        
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
      
      </h1>
      
      </div>