<div class="container" >
  <div style="text-align: center;margin: 10px;">
<h1> Lista de Preguntas </h1>
  </div>

<h1>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Columna ID -->
    <ng-container matColumnDef="c1">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let pregunta"> {{pregunta.id}} </td>
    </ng-container>

    <!-- Columna Descripción de la Pregunta -->
    <ng-container matColumnDef="c2">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let pregunta"> {{pregunta.descripcionPreguntas}} </td>
    </ng-container>

    <!-- Columna Evaluación -->
    <ng-container matColumnDef="c3">
      <th mat-header-cell *matHeaderCellDef> Evaluación </th>
      <td mat-cell *matCellDef="let pregunta"> {{pregunta.evaluacion.comentarios}} </td>
    </ng-container>


    <ng-container matColumnDef="accion01">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let pregunta" (click)="eliminar(pregunta.id)">
        <mat-icon style="color:#3b1d9e">delete</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="accion02">
      <th mat-header-cell *matHeaderCellDef>Actualizar</th>
      <td mat-cell *matCellDef="let pregunta">
        <button mat-raised-button [routerLink]="['ediciones',pregunta.id]">
          <mat-icon style="color:#3b1d9e">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

</h1>

</div>