<!-- Barra de Navegación -->
<div class="toolbar">
  <div class="toolbar-container">
    <div class="logo">
      <img
        src="assets/logo.png"
        style="height: 40px; width: 40px; margin-right: 10px"
        alt="PromoTrust Logo"
      />
      <span class="app-title">PROMOTRUST</span>
    </div>
    <nav class="navigation">
      <a [routerLink]="['/promohome']">Inicio</a>
      <a href="#community">Comunidad</a>
      <a href="#about">Conoce al equipo</a>
      <a href="#contact">Contáctanos</a>
    </nav>
    <a class="btn-login" [routerLink]="['/login']">Iniciar →</a>
  </div>
</div>

<!-- Contenedor Principal -->
<div class="landing-container">
  <!-- Sección de Introducción -->
  <section class="intro">
    <h1>Fortalece y simplifica tus colaboraciones publicitarias</h1>
    <p>
      Impulsamos colaboraciones seguras y exitosas entre empresas e influencers.
    </p>
    <a class="btn-register" [routerLink]="['/signup']">Registrarse</a>
  </section>

  <!-- Sección de Características -->
  <section class="features">
    <h2>
      Gestiona pagos, simplifica contratos, mide el rendimiento y garantiza el
      cumplimiento en tus colaboraciones.
    </h2>
    <div class="features-container">
      <div class="feature-item">
        <img src="assets/contratos.png" alt="Icono de contratos" />
        <h3>Creación de Contratos Intuitiva</h3>
        <p>
          Accede a plantillas de contratos personalizables y establece
          colaboraciones de manera sencilla.
        </p>
      </div>
      <div class="feature-item">
        <img src="assets/pagos.png" alt="Icono de pagos" />
        <h3>Gestión de Pagos</h3>
        <p>
          En PromoTrust, contamos con un sistema de pagos seguro que garantiza
          el cumplimiento de todas las transacciones.
        </p>
      </div>
      <div class="feature-item">
        <img src="assets/rendimiento.png" alt="Icono de rendimiento" />
        <h3>Métricas de Rendimiento</h3>
        <p>
          Rastrea el rendimiento de tus campañas al instante y optimiza tus
          estrategias.
        </p>
      </div>
    </div>
  </section>

  <!-- Sección de Qué Ofrecemos -->
  <section id="about" class="about">
    <!-- Columna de Imagen -->
    <img src="assets/foto2landing.png" alt="Imagen de presentación" />

    <!-- Columna de Texto -->
    <div class="about-text">
      <h2>¿Qué ofrecemos?</h2>
      <p>
        <strong>PromoTrust</strong> es una plataforma diseñada para simplificar
        y fortalecer la colaboración entre empresas e influencers en el mundo de
        la publicidad. Esta aplicación formaliza la gestión de contratos
        publicitarios al ofrecer una solución completa para consolidar acuerdos
        de forma segura, garantizando su cumplimiento.
      </p>
      <a href="#" class="btn-more-info">Más información</a>
    </div>
  </section>

  <section id="community" class="community">
    <div class="community-content">
      <h2>
        Una comunidad fuerte que
        <span class="highlight"
          >amplía tu alcance como influencer o emprendedor.</span
        >
      </h2>
      <p>¡Únete y sé parte de esta comunidad vibrante!</p>
    </div>
    <div class="community-stats">
      <div class="stat-item">
        <img src="assets/comunidad.jpg" alt="Miembros" />
        <strong>2,245,341</strong>
        <p>Miembros</p>
      </div>
      <div class="stat-item">
        <img src="assets/contratos.png" alt="Contratos" />
        <strong>828,867</strong>
        <p>Contratos establecidos</p>
      </div>
      <div class="stat-item">
        <img src="assets/comunidad.jpg" alt="Colaboraciones" />
        <strong>46,328</strong>
        <p>Colaboraciones exitosas</p>
      </div>
    </div>
  </section>

  <section id="app-download" class="app-download">
    <div class="app-container">
      <div class="app-image">
        <img src="assets/mobileapp.png" alt="PromoTrust App" />
      </div>
      <div class="app-info">
        <h2>Descarga nuestra app móvil</h2>
        <p>
          Más cerca de ti, descarga nuestra app móvil
          <strong>PromoTrust</strong> y accede a todos los servicios. ¡Es
          gratis!
        </p>
        <a href="#" class="btn-download">Descargar</a>
      </div>
    </div>
  </section>

  <!-- Sección de Testimonios -->
  <section id="testimonials" class="testimonials">
    <h2>Casos de éxito con PromoTrust</h2>
    <div class="testimonials-container">
      <div class="testimonial">
        <p>
          "PromoTrust hizo que gestionar contratos fuera sencillo y seguro.
          Encontrar al influencer perfecto nunca fue tan rápido." - GreenGrove
        </p>
      </div>
      <div class="testimonial">
        <p>
          "Usar PromoTrust aceleró nuestras campañas y optimizó resultados.
          Encontramos justo al influencer que necesitábamos." - EcoPulse
        </p>
      </div>
      <div class="testimonial">
        <p>
          "Establecer y cumplir contratos es insuperable con PromoTrust.
          Encontrar al influencer adecuado fue rápido y sin complicaciones." -
          TrendWave
        </p>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <p>COPYRIGHT © 2024 PromoTrust. All rights reserved.</p>
      <div class="footer-links">
        <a href="#about">Conócenos</a>
        <a href="#community">Comunidad</a>
        <a href="#testimonials">Casos de éxito</a>
        <a
          href="https://instagram.com/promotrust24"
          target="_blank"
        >
          Contáctanos
        </a>
      </div>
    </div>
  </footer>
</div>
