<mat-toolbar class="custom-toolbar" *ngIf="verificar()">
  <!-- Logo e Identidad -->
  <div class="logo-container">
    <img src="assets/logo.jpg" alt="PROMOTRUST" class="logo">
    <span class="app-title">PROMOTRUST</span>
  </div>

  <!-- Menú de Navegación -->
  <div class="nav-links">
    <a mat-button routerLink="/bienvenido">Inicio</a>
    <a mat-button routerLink="/contratousuario">Mis Contratos</a>
    <a mat-button routerLink="/evaluacion">Mis Evaluaciones</a>
   

   
  <!-- Menú Desplegable de Preguntas -->
  <button mat-button [matMenuTriggerFor]="menuPreguntas" style="color: white" *ngIf="isAdmin()">
    <mat-icon>help</mat-icon>Preguntas
  </button>

  <button mat-button [matMenuTriggerFor]="menuIncidencias" style="color: white" *ngIf="isAdmin()">
    <mat-icon>report</mat-icon>Incidencias
  </button>

  <button mat-button [matMenuTriggerFor]="menuUsuario" style="color: white" *ngIf="isAdmin()">
    <mat-icon>people</mat-icon>Usuarios
  </button>

  <button mat-button [matMenuTriggerFor]="menuEvaluaciones" style="color: white" *ngIf="isInfluencer()">
    <mat-icon>assignment</mat-icon>Evaluacion
  </button>

  <button mat-button [matMenuTriggerFor]="menuServicios" style="color: white">
    <mat-icon>settings</mat-icon>Servicios
  </button>

  <button mat-button [matMenuTriggerFor]="menuTips" style="color: white">
    <mat-icon>lightbulb</mat-icon>Tips
  </button>

  <button mat-button [matMenuTriggerFor]="menuReportes" style="color: white">
    <mat-icon>insert_drive_file</mat-icon>Reportes
  </button>
</div>

<div class="right-menu">
  <button mat-button [matMenuTriggerFor]="menuSalir" style="color: white">
    <mat-icon>person</mat-icon>Usuario
  </button>
</div>
</mat-toolbar>

<!-- Menús Desplegables -->

<mat-menu #menuPreguntas="matMenu">
<button mat-menu-item routerLink="/preguntas">
  <mat-icon>playlist_add_check</mat-icon>Listar
</button>
<button mat-menu-item routerLink="/preguntas/nuevo">
  <mat-icon>playlist_add</mat-icon>Registrar
</button>
</mat-menu>

<mat-menu #menuIncidencias="matMenu">
<button mat-menu-item routerLink="/incidencias">
  <mat-icon>playlist_add_check</mat-icon>Listar
</button>
<button mat-menu-item routerLink="/incidencias/nuevo">
  <mat-icon>playlist_add</mat-icon>Registrar
</button>
</mat-menu>

<mat-menu #menuUsuario="matMenu">
<button mat-menu-item routerLink="/usuario">
  <mat-icon>playlist_add_check</mat-icon>Listar
</button>
<button mat-menu-item routerLink="/usuario/nuevo">
  <mat-icon>playlist_add</mat-icon>Registrar
</button>
</mat-menu>

<mat-menu #menuEvaluaciones="matMenu">
<button mat-menu-item routerLink="/evaluacion">
  <mat-icon>playlist_add_check</mat-icon>Listar
</button>
<button mat-menu-item routerLink="/evaluacion/nuevo">
  <mat-icon>playlist_add</mat-icon>Registrar
</button>
</mat-menu>

<mat-menu #menuServicios="matMenu">
<button mat-menu-item routerLink="/servicio">
  <mat-icon>playlist_add_check</mat-icon>Listar
</button>
<button mat-menu-item routerLink="/servicio/nuevo">
  <mat-icon>playlist_add</mat-icon>Registrar
</button>
</mat-menu>

<mat-menu #menuTips="matMenu">
<button mat-menu-item routerLink="/vertips">
  <mat-icon>playlist_add_check</mat-icon>Listar
</button>
<button mat-menu-item routerLink="/vertips/nuevo">
  <mat-icon>playlist_add</mat-icon>Registrar
</button>
</mat-menu>

<mat-menu #menuReportes="matMenu">
<button mat-menu-item routerLink="/reportes">
  <mat-icon>pie_chart</mat-icon>Cantidad
</button>
<button mat-menu-item routerLink="/reportes/reportesumas">
  <mat-icon>bar_chart</mat-icon>Monto
</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
<button mat-menu-item routerLink="/login" (click)="cerrar()">
  <mat-icon>logout</mat-icon>Cerrar sesión
</button>
<button mat-menu-item>
  Rol: <span>{{ role }}</span>
</button>
</mat-menu>

<router-outlet></router-outlet>
