

.logo {
    height: 100px;
    margin-right: 12px;
  }
  
  /* Estilos generales */
.container {
    max-width: 400px;
    margin: auto;
    padding: 40px;
    background-color: #f5f5f5; /* Fondo claro */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  
  h2 {
    color: #3f51b5; /* Color principal (puedes cambiarlo) */
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Campos de entrada */
  mat-form-field {
    width: 100%;
  }
  
  .mat-form-field-label {
    color: #3f51b5 !important; /* Color del label */
  }
  
  input[matInput] {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
  }
  
  /* Botón personalizado */
  .custom-button {
    background-color: #d467f8; /* Color del botón */
    color: #ffffff;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Animación para hover */
  }
  
  .custom-button:hover {
    background-color: #303f9f; /* Color del botón al pasar el ratón */
  }
  
  /* Espaciado adicional */
  .mat-form-field,
  button {
    margin-top: 15px;
  }
  
  br {
    display: none; /* Oculta los <br> para dejar los márgenes de los estilos */
  }
  