/* Contenedor principal */
body {
    background-color: #f0f0f0ea; 
    font-family: Arial, sans-serif;
    text-align: center
  }
  
.container {
    background-color: #ffffff;
    padding: 40px;
    width: 70%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 40px auto;
}

h1 {
    color: #7110b7;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

mat-form-field {
    width: 80%;
    margin-bottom: 20px;
    /*background-color: #f0f0f0;*/
    box-shadow: none;
    padding: 10px; 
}

input[matInput], textarea[matInput] {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 50px;
    background-color: transparent !important;
    width: 100%; 
}

textarea[matInput] {
    min-height: 80px;
}

button {
    width: 60%;
    background-color: #d467f8 !important;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #c354e5 !important; 
}
