<body class="fondo" style="background-image: url('assets/patron.jpg')">
    <div class="register-container">
      <h1 class="tituloBox">Registro de Roles</h1>
      <form [formGroup]="form" (submit)="registrar()" class="example-form">
  
        <mat-form-field class="example-full-width"  *ngIf="edicion" >
          <mat-label class="textoBox">Codigo</mat-label>
          <input matInput placeholder="Codigo" formControlName="codigo" readonly/>
        </mat-form-field>
  
        <br/>
  
        <mat-form-field class="example-full-width">
            <mat-label class="textoBox">Codigo del Usuario</mat-label>
            <mat-select formControlName="usuario">
              <mat-option *ngFor="let u of listaUsers" [value]="u.id">
                {{ u.id }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('id')?.hasError('required')"
              >El codigo es obligatorio.</mat-error
            >
          </mat-form-field>
  
        <br>
  
        <mat-form-field>
          <mat-label class="textoBox">Rol</mat-label>
          <mat-select formControlName="tipoRol" placeholder="Ingrese el tipo de rol">
            <mat-option *ngFor="let rol of listaroles" [value]="rol.value">
              {{ rol.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('tipo')?.hasError('required')">
            El rol es obligatorio.
          </mat-error>
        </mat-form-field>
  
        <br />
        <div class="boton-container">
          <button class="boton" mat-raised-button color="primary">Registrar</button>
          <button class="boton1" mat-raised-button color="warn" routerLink="/listarrole">
            Cancelar
          </button>
        </div>
  
      </form>
    </div>
  
  </body>
  
  
  