<div class="container">
  <div style="text-align: center; margin:5%">
    <h1>Lista de Incidencias</h1>
  </div>
  <h1>  
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let incidencia">{{incidencia.id}}</td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let incidencia">{{incidencia.descripcionIncidencias}}</td>
      </ng-container>

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> Fecha de Incidencia </th>
        <td mat-cell *matCellDef="let incidencia">{{incidencia.fecha_Incidencia}}</td>
      </ng-container>
       <!-- Contrato -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Contratos-Id </th>
        <td mat-cell *matCellDef="let incidencia">{{incidencia.contrato.detalle_contrato}}</td>
      </ng-container>    

      <!-- Eliminar Column -->
      <ng-container matColumnDef="accion01">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let incidencia" *ngIf="isADMIN()" (click)="eliminar(incidencia.id)">
            <mat-icon style="color:#3b1d9e">delete</mat-icon>
          </td>
      </ng-container>

      <!-- Actualizar Column -->
      <ng-container matColumnDef="accion02">
          <th mat-header-cell *matHeaderCellDef>Actualizar</th>
          <td mat-cell *matCellDef="let incidencia">
            <button mat-raised-button [routerLink]="['ediciones',incidencia.id]">
              <mat-icon style="color:#3b1d9e">edit</mat-icon>
            </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</h1>
</div>
