<div class="container" style="text-align: center; margin: 5%">
    <div style="margin: 5%">
      <h1>Registro de Incidencias</h1>
    </div>
    
    <div>
      <!-- Formulario para registrar incidencias -->
      <form [formGroup]="form" (ngSubmit)="aceptar()">
        
        <!-- Campo para la descripción de la incidencia -->
        <mat-form-field class="example-full-width">
          <mat-label>Descripción de la Incidencia</mat-label>
          <input matInput placeholder="Ej. Fuga de agua" formControlName="descripcionIncidencias" required />
        </mat-form-field>
        <br />
  
        <!-- Campo para la fecha de la incidencia -->
        <mat-form-field class="example-full-width">
          <mat-label>Fecha de la Incidencia</mat-label>
          <input matInput type="date" formControlName="fechaIncidencia" required />
        </mat-form-field>
        <br />
  
        <!-- Campo de selección para la ubicación de la incidencia -->
        <mat-form-field class="example-full-width">
          <mat-label>Ubicación</mat-label>
          <mat-select formControlName="hubicacion" required>
            <mat-option *ngFor="let ubicacion of listaUbicaciones" [value]="ubicacion.value">
              {{ ubicacion.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
  
        <!-- Campo para el ID del contrato -->
        <mat-form-field class="example-full-width">
          <mat-label>ID del Contrato</mat-label>
          <input matInput type="number" placeholder="Ej. 123" formControlName="idContrato" required />
        </mat-form-field>
        <br />
  
        <!-- Botón para registrar -->
        <div>
          <button mat-flat-button color="primary">Registrar  </button>
        </div>
      </form>
    </div>
  </div>
  